# Database connection
DB_USER=todo_user
DB_PASSWORD=todo_password
DB_HOST=localhost
DB_PORT=5432
DB_NAME=todo_db

# CORS and Supabase environment variables
CORS_ORIGINS="http://localhost:5173"
SUPABASE_JWT_ISSUER="https://project-ref.supabase.co/auth/v1" #can be empty (local)
